@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset lại một số styles cơ bản */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Nếu bạn muốn giữ lại styles cho button và link, có thể giữ lại phần này */
a {
  text-decoration: inherit;
}

button {
  cursor: pointer;
}